<%- include ../include/header.html%>
<%title%>
<div class="ds-row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div id="pre" class="container-fluid" style="height:350px;"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div id="today" class="container-fluid" style="height:350px;"></div>
        </div>
    </div>
</div>

<script src="http://114.80.151.109/spa/m/2015kkpsc/new/js/echarts.js"></script>
<script type="text/javascript">
    var timeBox = <%- JSON.stringify(timeBox) %>;
    var clickBox = <%- JSON.stringify(clickBox) %>;
    var dtBox = <%- JSON.stringify(dtBox) %>;
    var dclickBox = <%- JSON.stringify(dclickBox) %>;

    var preChart = echarts.init(document.getElementById('pre'));
    var todayChart = echarts.init(document.getElementById('today'));

    pre = {
        title: {
            text: '往期PV'
        },
        tooltip: {},
        legend: {
            data:['PV']
        },
        xAxis: {
            data: timeBox
        },
        yAxis: {},
        series: [{
            name: 'PV',
            type: 'bar',
            data: clickBox
        }]
    };

    preChart.setOption(pre);

    today = {
        title: {
            text: '今日PV'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['今日PV']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
            },
            xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : dtBox
            }
            ],
            yAxis : [
            {
                type : 'value'
            }
            ],
            series : [
            {
                name:'PV',
                type:'line',
                stack: '总量',
                areaStyle: {normal: {}},
                data:dclickBox
            }
            ]
            };

            todayChart.setOption(today);


</script>

<%- include ../include/footer.html%>